.hidden, .toggled { /* toggled allows seperate tracking to hidden */
    display: none !important;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;

    position: fixed;
    top: 0; /* Fixes inheriting margin */

    height: 60px;
    background: #f70505;
}


.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

main {
    /* Dont fall under header */
    margin-top: 60px;

    background: #4105f7;
}

/* Initially Hidden items */
#the_tool, #results_display, #scenareo_selector, #card_selector {
    display: inline;
}

.card_row > img {
    width: 20%;
    height: auto;
}

.result {
    width: 30%;
}

.result > img {
    width: 100%;
    height: auto;
}

.locked, .unselected {
   opacity: 0.5; 
}

#card_selector {
    display: inline;
    background: greenyellow;
}